*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-weight: normal;
    color: #333333;
}

.default-btn {
    border: none;
    outline: none;
    color: #000;
    font-weight: 500;
    padding: 11px 28px;
    background: #00AC4E;
    transition: .3s background;
    border-radius: 5px;

    &-white {
        color: #fff;
    }

    &:hover,
    &:active {
        background: lighten(#00AC4E, 3%);
    }
}

.rating {
    margin-bottom: 10px;
    display: flex;

    span {
        background: url(../images/products/star.png) left center no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 4px;
    }

    span.active {
        background: url(../images/products/startFilled.png) left center no-repeat;
    }
}

header {
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);

    .navbar-brand {
        margin-right: 60px;
        padding: 0;
    }

    .navbar {
        height: 100%;
        display: flex;
        align-items: center;

        .nav-item {
            margin-right: 45px;

            .nav-link {
                font-size: 18px;
                line-height: 22px;
                font-weight: 500;
                padding: 0;
                transition: .2s color;

                &.dropdown-toggle {
                    color: #333;
                    position: relative;
                    z-index: 1001;

                    &::after {
                        display: none;
                    }
                }

                &:hover {
                    color: #00AC4E;
                }
            }

            .dropdown-menu {
                top: -17px;
                left: -24px;
                background: #FFFFFF;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
                border-radius: 12px;
                padding: 52px 0 8px;
                border: none;

                .dropdown-item {
                    padding: 8px 20px 8px 25px;
                    font-family: 'TT Hoves';
                    font-size: 11px;
                    line-height: 13px;
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 8px;
                        width: 16px;
                        height: 16px;
                    }

                    span {
                        display: block;
                    }
                }
            }
        }

    }

    .header-actions {
        margin-left: auto;
        display: flex;
        align-items: center;

        .header-phone {
            display: flex;
            align-items: center;

            &:hover {
                text-decoration: none;
            }

            span {
                margin-left: 5px;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #000000;
            }
        }

        .header-cart {
            margin-left: 31px;
            cursor: pointer;
        }

        .header-user {
            margin-left: 65px;
            cursor: pointer;
        }
    }
}

.banner {
    margin-top: 60px;

    .banner-item {
        display: flex;
        background: linear-gradient(180deg, #F1F1FB 0%, #EBEBF5 100%);
        box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
        border-radius: 18.0727px;
    }

    .banner-content {
        flex: 1;
        padding: 41px 0 58px 41px;
    }

    .banner-img {

        img {
            width: 100%;
            height: 100%;
        }
    }

    .banner-title {
        font-size: 31.6273px;
        line-height: 38px;
        margin-bottom: 9px;
    }

    .banner-text {
        font-size: 19.88px;
        line-height: 24px;
        color: #828282;
        margin-bottom: 31px;
    }

    .banner-btn {
        font-weight: 500;
        font-size: 25.3018px;
        line-height: 30px;
    }

    .swiper-pagination-bullet {
        background: #6a6868;
        ;
        cursor: pointer;
        height: 6px;
        width: 6px;

        &-active {
            width: 45px;
            background: #fff;
            border-radius: 5px;
        }
    }
}

.categories {

    .categories-container {
        margin: 26px 0 30px;
    }

    .categories-item {
        width: auto !important;

        a {
            font-family: 'TT Hoves';
            font-size: 23.3333px;
            line-height: 27px;
            color: #4F4F4F;
        }
    }

    .categories-next {
        right: 0;
        width: 85px;
        color: #00AC4E;
        background-color: #fff;
    }
}

.pagination {
    display: flex;
    align-items: center;

    .page-item {
        border: none;
        outline: none;

        .page-link {
            line-height: 1;
            text-align: center;
            border-radius: 5px;
            border: none;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            color: #000;
            background: none;
            padding: 0;
            margin-right: 23px;
            display: flex;
            align-items: center;
        }

        &.active {
            width: 41px;
            height: 41px;
            margin-right: 25px;

            .page-link {
                width: 100%;
                height: 100%;
                line-height: 41px;
                text-align: center;
                color: #FFFFFF;
                background: #00AC4E;
                margin-right: 10px;
                display: block;
            }
        }
    }
}

.products {

    .products-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 19px;
        color: #000000;
        margin-bottom: 40px;
    }

    .products-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .product {
        flex: 0 1 22%;
        margin-bottom: 56px;
        display: flex;
        flex-direction: column;

        &:last-child {
            justify-self: flex-start;
        }

        .product-img {
            width: 100%;
            height: 126px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(180deg, #FFFFFF 0%, #E5E5E5 0.01%, #E6E6E6 100%);
            border-radius: 5px;
            margin-bottom: 9px;
        }

        .product-title {
            font-weight: 500;
            font-size: 14.4845px;
            line-height: 22px;
            color: #000000;
            margin-bottom: 13px;
        }

        .product-text {
            font-size: 12.674px;
            line-height: 19px;
            color: #000000;
            flex: 1;
        }

        .product-value {
            display: flex;
            margin-bottom: 24px;

            .product-price {
                font-weight: 500;
                font-size: 18x;
                line-height: 23px;
                color: #000000;
                margin-right: 18px;
            }

            .product-count {
                font-weight: normal;
                font-size: 13px;
                line-height: 23px;
                color: #828282;
            }
        }

        .product-btn {
            font-weight: 500;
            font-size: 18.1056px;
            line-height: 14px;
            color: #FFFFFF;
        }

    }
}

.video {
    margin: 60px 0;

    .video-content {
        height: 648px;
        width: 100%;
        position: relative;

        &-bg {
            background: url(/images/video/bg.jpg) center no-repeat;
            background-size: cover;
        }

        button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: none;
            outline: none;
            background: transparent;
            transition: opacity .1s;

            &:hover {
                opacity: .9;
            }
        }
    }
}

.info {

    .info-content {
        box-shadow: 0px 0px 18.0727px rgba(0, 0, 0, 0.03);
        border-radius: 18.0727px;
        background: url(/images/info/bus.png) right center no-repeat, rgba(242, 242, 242, 0.8), ;
        padding: 32px 0 59px 44px;
    }

    .info-text {
        font-size: 31.6273px;
        line-height: 38px;
        color: #333333;
        margin-bottom: 35px;
    }

    .info-btn {
        font-weight: 500;
        font-size: 25.3018px;
        line-height: 30px;
        color: #FFFFFF;
        padding: 11px 23px;
    }

    margin-bottom: 61px;
}

.footer {
    background: #00AC4E;
    padding: 34px 0;

    .footer-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 11px;
    }

    .footer-info {
        flex: 0 1 393px;

        .footer-phones {
            display: flex;
            justify-content: space-between;
        }

        .footer-phones-title {
            font-size: 12px;
            line-height: 29px;
            color: #FFFFFF;
            margin: 0;
        }

        .footer-phones-number {
            display: inline-block;
            font-weight: 500;
            font-size: 18.511px;
            line-height: 39px;
            color: #FFFFFF;
            margin-bottom: 15px;
        }

        .footer-support-schedule {
            font-size: 15.4259px;
            line-height: 32px;
            color: #FFFFFF;
            margin-bottom: 10px;
        }

        .footer-support-email a {
            font-size: 18.511px;
            line-height: 32px;
            color: #FFFFFF;
        }
    }

    .footer-socials {
        flex: 0 1 187px;

        a {
            font-weight: 500;
            font-size: 15px;
            line-height: 32px;
            letter-spacing: 3px;
            font-variant: small-caps;
            color: #FFFFFF;
            margin-bottom: 26px;
            display: inline-block;

            &:hover {
                text-decoration: none;
            }
        }

    }

    .footer-auth {
        flex: 0 1 182px;
        display: flex;
        cursor: pointer;

        .footer-auth-img {
            width: 25px;
            height: 25px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        span {
            font-weight: 500;
            font-size: 15.4259px;
            line-height: 32px;
            color: #FFFFFF;
            margin-left: 7px;
        }
    }

    .footer-conditions {

        &-support {
            display: block;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            margin-bottom: 10px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 97px;
                height: 1px;
                background-color: #fff;
            }

            &:hover {
                text-decoration: none;
            }
        }


        span {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-family: TT Hoves;
                font-style: normal;
                font-weight: normal;
                font-size: 12.3407px;
                line-height: 32px;
                color: #FFFFFF;
                display: inline-block;
            }
        }
    }
}


.delivery {
    margin-top: 45px;
    margin-bottom: 60px;

    .delivery-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #000000;
        margin-bottom: 25px;
    }

    .delivery-text {
        font-size: 22px;
        line-height: 26px;
        color: #828282;
    }

    .delivery-btn-group {
        margin-top: 45px;

        .delivery-payment-btn {
            border: none;
            outline: none;
            background: transparent;
            display: inline-flex;
            align-items: center;

            span {
                font-size: 22px;
                line-height: 29px;
                text-align: center;
                color: #00AC4E;
                margin-right: 9px;
                transition: .3s color;

                &:hover {
                    color: lighten(#00AC4E, 4%);
                }
            }

        }

        .delivery-catalog-btn {
            margin-right: 60px;
            padding: 16px 39px;
            font-weight: 500;
            font-size: 20px;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
        }

    }


}

.support {

    .support-title {
        margin: 45px 0;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #000000;
    }

    .support-area {
        width: 672px;

        .support-textarea {
            width: 100%;
            min-height: 174px;
            border: none;
            outline: none;
            border-radius: 5px;
            background: #F9F9F9;
            padding: 19px 20px;
            margin-bottom: 45px;

            &::placeholder {
                font-size: 20px;
                line-height: 21px;
                color: #BDBDBD;
            }
        }
    }

    .support-btn {
        margin-bottom: 249px;
    }
}

.product {

    .product-info {
        display: flex;
        margin-top: 60px;
        margin-bottom: 60px;

        .product-info-img {
            overflow: hidden;
            flex: 0 1 65%;
            margin-right: 36px;
            background: url(../images/product/bgImg.png) center no-repeat, #F9F9F9;
            border-radius: 15px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .product-info-buy {
            flex: 1;
            background: #FFFFFF;
            box-shadow: 0px 0px 27.1091px rgba(0, 0, 0, 0.06);
            border-radius: 15px;
            padding: 32px 30px;

            .product-info-buy-title {
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                color: #000000;
                margin-bottom: 9px;
            }

            .rating {
                margin-bottom: 13px;
            }

            .product-info-review {
                font-size: 12.6509px;
                line-height: 19px;
                color: #C6C6C6;
                margin-bottom: 28px;
            }

            .product-info-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 23px;

                .product-info-label {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    color: #C6C6C6;
                }

                .product-info-value {
                    font-weight: 500;
                    font-size: 18.0727px;
                    line-height: 23px;
                    color: #000000;
                }

                .product-info-count {
                    width: 116px;
                    height: 42px;
                    background: #FCFCFC;
                    border: 1px solid #EBEBEB;
                    box-sizing: border-box;
                    border-radius: 9px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span {
                        flex: 1;
                        text-align: center;
                        cursor: pointer;
                        display: inline-block;
                        height: 100%;
                        line-height: 42px;
                    }

                    input {
                        border: none;
                        background: transparent;
                        width: 30px;
                        height: 100%;
                        outline: none;
                        text-align: center;
                        font-size: 12px;
                        line-height: 19px;
                        color: #000000;
                    }
                }
            }

            .product-info-total {
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;

                .product-info-total-text {
                    font-family: TT Norms Pro;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14.4582px;
                    line-height: 22px;
                    color: #000000;
                }

                .product-info-total-price {
                    font-weight: 500;
                    font-size: 18.0727px;
                    line-height: 23px;
                    color: #00AC4E;
                }
            }

            .product-btn-group {
                display: flex;
                justify-content: space-between;

                .product-btn {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 23px;
                    color: #FFFFFF;
                    padding: 7px 80px;
                }

                .product-cart-btn {
                    padding: 7px 12px;
                }
            }
        }
    }
}
